<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
</head>
<body>
    <h1>Signup Project</h1>
    <!-- {{signups}} -->
    <div class="container">
        <div>
            <a href="{% url 'new'%}">Write Your Information</a>
        </div>
    {% for signup in signups %}
      <div>
          <!-- {{signup.id}} -->
          {{signup.name}} 
          {{signup.age}} 
          {{signup.email}} 
          <!-- {{signup.introduce}} -->
          {{signup.info_summary}}<a href="{% url 'detail' signup.id %}">...more</a>
      </div>
    {% endfor %}  
    </div>  
</body>
</html>